<!DOCTYPE html>
<html>
<head>
    <title>Chaac - {% block page_title %}Server Monitoring{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Other library CSS -->
    <link href="{{ url_for('static', filename='css/responsive-sidebar-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Application Specific CSS Overrides -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block additional_stylesheets %}{% endblock %}
</head>
<body>
    {% include "snippets/navbar.html" %}

    <div class="container container-main">
        {% block container %}{% endblock %}
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <!-- Boostrap Javascript Includes -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
