<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Other library CSS -->
    <link href="{{ url_for('static', filename='css/responsive-sidebar-menu.css') }}" rel="stylesheet">
    <!-- Application Specific CSS Overrides -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block additional_stylesheets %}{% endblock %}
</head>
<body>
    {% include "snippets/navbar.html" %}

    <div class="container container-main">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Buzzwords</div>
                <div class="panel-body">
                    <p>We thrive because of our end-to-end industry leader and next-generation paradigm shift culture. We thrive because of our corporate big data and company-wide step-change culture. We aim to conservatively synergise our standard setter by strategically engineering our seamless actionable siloes. Mobile drivers reliably enable competitive visibilities for our synergies.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <!-- Boostrap Javascript Includes -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
