{% extends "base.html" %}

{% block title %}Manage Clients{% endblock %}

{% block additional_js_includes %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/clients.js') }}"></script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add New Client</div>
                <div class="panel-body">
                    <div id="add-client-alert-container"></div>
                    <form id="form-add-client" class="form-horizontal" method="POST">
                        <div class="form-group">
                            <label class="col-md-2">Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="client-name" name="client-name" placeholder="e.g. Webserver 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Description</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="client-description" name="client-description" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">IP Address</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="client-ip" name="client-ip" placeholder="e.g. 10.1.1.99">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Port</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="client-port" name="client-port" placeholder="e.g. 2200">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <button class="btn btn-primary">Add Client</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Clients</div>
                <div class="panel-body">
                    <p id="loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Clients...</p>
                    <table class="table table-hover hidden" id="table-clients">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IP Address</th>
                                <th>Port</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <script id="template-client" type="text/x-handlebars-template">
                            {% raw %}
                                {{#each clients}}
                                    <tr>
                                        <td>{{ name }}</td>
                                        <td>{{ ip_address }}</td>
                                        <td>{{ port }}</td>
                                        <td></td>
                                    </tr>
                                {{/each}}
                            {% endraw %}
                        </script>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
