{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block additional_js_includes %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/groups.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#modal-edit-group").modal();
        });
    </script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add New Group</div>
                <div class="panel-body">
                    <div id="add-group-alert-container"></div>
                    <form id="form-add-group" class="form-horizontal" method="POST">
                        <div class="form-group">
                            <label class="col-md-2">Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="group-name" name="group-name" placeholder="e.g. Webservers">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Description</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="group-description" name="group-description" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <button class="btn btn-primary">Add Group</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Groups</div>
                <div class="panel-body">
                    <div id="existing-groups-alert-container"></div>
                    <p id="loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Groups...</p>
                    <table class="table table-hover hidden" id="table-groups">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th># Member Clients</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <script id="template-group" type="text/x-handlebars-template">
                            {% raw %}
                                {{#each groups}}
                                    <tr>
                                        <td>{{ name }}</td>
                                        <td>{{ num_clients }}</td>
                                        <td><button class="btn btn-info btn-sm btn-edit-group" data-group-id="{{ id }}">Edit Group</button></td>
                                    </tr>
                                {{/each}}
                            {% endraw %}
                        </script>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script id="template-modal-edit-group" type="text/x-handlebars-template">
        {% raw %}
            <div class="modal modal-wide fade" id="modal-edit-group" tabindex="-1" role="dialog" aria-labelledby="modal-edit-group-title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-edit-group-title">Editing Group {{name}}</h4>
                        </div>
                        <form id="form-edit-group">
                            <div class="modal-body container container-modal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Group Name</label>
                                        <input type="text" class="form-control" name="group-name" value="{{name}}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Group Description</label>
                                        <input type="text" class="form-control" name="group-description" value="{{description}}">
                                    </div>
                                </div>

                                <div class="row padding-top-md">
                                    <div class="col-md-6">
                                        <label>Member Clients</label>
                                        <div class="checkbox-list form-control">
                                            {{#each members.clients}}
                                                <li><label><input type="checkbox" name="member-client" value="{{this.id}}" {{#if this.is_member}}checked{{/if}}> {{this.name}}</label></li>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Member Groups</label>
                                        <div class="checkbox-list form-control">
                                            {{#each members.groups}}
                                                <li><label><input type="checkbox" name="member-group" value="{{this.id}}" {{#if this.is_member}}checked{{/if}}> {{this.name}}</label></li>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endraw %}
    </script>
{% endblock %}
