{% extends "base.html" %}

{% block page_title %}Home{% endblock %}
{% block brand_title %}Home{% endblock %}

{% block container %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Buzzwords</div>
            <div class="panel-body">
                <p>We thrive because of our end-to-end industry leader and next-generation paradigm shift culture. We thrive because of our corporate big data and company-wide step-change culture. We aim to conservatively synergise our standard setter by strategically engineering our seamless actionable siloes. Mobile drivers reliably enable competitive visibilities for our synergies.</p>
            </div>
        </div>
    </div>
{% endblock %}
