{% extends "base.html" %}

{% block title %}Manage Schedule{% endblock %}

{% block additional_js_includes %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add new Time Slot/Interval</div>
                <div class="panel-body">
                    <div id="add-new-alert-container"></div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-interval" data-toggle="tab">Time Interval</a></li>
                        <li><a href="#tab-slot" data-toggle="tab">Time Slot</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active container padding-top-md in fade" id="tab-interval">
                            <p>
                                Setting a time interval will refresh the plugin regularly with a fixed delay in
                                between the refreshes.  Select a plugin below and then enter the time (and unit)
                                that represents how long to wait between subsequent refreshes of the plugin.
                            </p>
                            <form id="form-add-interval" class="form-horizontal padding-top-md">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Plugin</label>
                                    <div class="col-md-4">
                                        <select class="plugin-list form-control" name="plugin-id">
                                            <option value="">Loading plugins...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Interval Time</label>
                                    <div class="col-md-2">
                                        <input type="number" min="1" name="interval-value" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="interval-unit">
                                            <option value="">Select...</option>
                                            <option value="seconds">Seconds</option>
                                            <option value="minutes">Minutes</option>
                                            <option value="hours">Hours</option>
                                            <option value="days">Days</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        <button type="submit" class="btn btn-primary">Add Interval</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane container padding-top-md fade" id="tab-slot">
                            <p>
                                Setting a time slot will run the plugin at a given time of day on the specified days
                                of the week.  Select a plugin below, enter the time of day it is to run at and select
                                the weekdays that the plugin is to run on.
                            </p>
                            <form id="form-add-slot" class="form-horizontal padding-top-md">
                                <div class="form-group">
                                    <label class="col-md-1 control-label">Plugin</label>
                                    <div class="col-md-4">
                                        <select class="plugin-list form-control" name="plugin-id">
                                            <option value="">Loading plugins...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label">Time Slot</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="number" min="0" max="23" name="slot-hour" class="form-control">
                                            <span class="input-group-addon">:</span>
                                            <input type="number" min="0" max="59" name="slot-minute" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label">Weekdays</label>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="1" checked>Monday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="2" checked>Tuesday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="3" checked>Wednesday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="4" checked>Thursday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="5" checked>Friday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="6" checked>Saturday</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="checkbox-inline"><input type="checkbox" name="weekdays[]" value="7" checked>Sunday</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        <button type="submit" class="btn btn-primary">Add Time Slot</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <script id="template-plugin-option" type="text/x-handlebars-template">
                        <option value="-1">Select a plugin...</option>
                        {% raw %}
                            {{#each plugins}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        {% endraw %}
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Time Slots</div>
                <div class="panel-body">
                    <p id="slots-loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Time Slots...</p>
                    <div id="slots-alert-container"></div>
                    <table class="table table-hover hidden" id="table-slots">
                        <thead>
                            <tr>
                                <th>Plugin</th>
                                <th>Time</th>
                                <th>Days</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <script type="text/x-handlebars-template" id="template-slots">
                            {% raw %}
                                {{#each slots}}
                                    <tr>
                                        <td>{{ plugin.name }}</td>
                                        <td>{{ hours }}:{{ minutes }}</td>
                                        <td>{{ days }}</td>
                                        <td></td>
                                    </tr>
                                {{/each}}
                            {% endraw %}
                        </script>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Intervals</div>
                <div class="panel-body">
                    <p id="intervals-loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Intervals...</p>
                    <div id="intervals-alert-container"></div>
                    <table class="table table-hover hidden" id="table-intervals">
                        <thead>
                            <tr>
                                <th>Plugin</th>
                                <th>Interval</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <script type="text/x-handlebars-template" id="template-intervals">
                            {% raw %}
                                {{#each intervals}}
                                    <tr>
                                        <td>{{ plugin.name }}</td>
                                        <td>{{ time }} {{ unit }}</td>
                                        <td></td>
                                    </tr>
                                {{/each}}
                            {% endraw %}
                        </script>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
