{% extends "base.html" %}

{% block title %}Manage Schedule{% endblock %}

{% block additional_js_includes %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add new Time Slot/Interval</div>
                <div class="panel-body">
                    <div id="add-new-alert-container"></div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-interval" data-toggle="tab">Time Interval</a></li>
                        <li><a href="#tab-slot" data-toggle="tab">Time Slot</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active container padding-top-md in fade" id="tab-interval">
                            <p>
                                Setting a time interval will refresh the plugin regularly with a fixed delay in
                                between the refreshes.  Select a plugin below and then enter the time (and unit)
                                that represents how long to wait between subsequent refreshes of the plugin.
                            </p>
                            <form id="form-add-interval" class="form-horizontal padding-top-md">
                                <div class="form-group">
                                    <label class="col-md-1">Plugin</label>
                                    <div class="col-md-4">
                                        <select class="plugin-list form-control" name="plugin-id">
                                            <option value="">Loading plugins...</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1">Interval Time</label>
                                    <div class="col-md-2">
                                        <input type="number" min="1" name="interval-value" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="interval-unit">
                                            <option value="">Select...</option>
                                            <option value="seconds">Seconds</option>
                                            <option value="minutes">Minutes</option>
                                            <option value="hours">Hours</option>
                                            <option value="days">Days</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-1">
                                        <button type="submit" class="btn btn-primary">Add Interval</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane container padding-top-md fade" id="tab-slot"></div>
                    </div>

                    <script id="template-plugin-option" type="text/x-handlebars-template">
                        <option value="-1">Select a plugin...</option>
                        {% raw %}
                            {{#each plugins}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        {% endraw %}
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Time Slots</div>
                <div class="panel-body">
                    <p id="slots-loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Time Slots...</p>
                    <div id="slots-alert-container"></div>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Existing Intervals</div>
                <div class="panel-body">
                    <p id="intervals-loading-message"><span class="fa fa-refresh fa-spin"></span> Loading Intervals...</p>
                    <div id="intervals-alert-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
