/* Section: Top navigation bar */
nav.topnav {
    border-radius: 0px; /* Remove rounded corners */
    margin-bottom: 0px; /* Push right up against the sidebar */
    min-height: 40px; /* Make the whole bar thinner */
}

nav.topnav .navbar-brand {
    /* Adjust the height to cope with the thinner bar */
    line-height: 0px;
    height: 40px;
}

/* Section: Styling the body */
body {
    background-color: silver;
}

div.container-main {
    padding: 20px;
    width: 100%;
    z-index: -1;
    position: absolute;
}

div.panel {
    border-radius: 0px; /* Do not have rounded corners on panels */
}

div.scrollview {
    position: relative;
    overflow-y: auto;
    height: calc(100% - 40px); /* 100% height minus the 40px header bar */
}
